@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
                <form>
                    <h4 class="mtext-105 cl2 txt-center p-b-30">
                        Gửi phản hồi cho chúng tôi
                    </h4>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-user"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtName" name="name" placeholder="Nhập họ tên">
                    </div>

                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-envelope"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="email" id="txtEmail" name="email" placeholder="Nhập email">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-phone-handset"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtPhone" name="phone" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-map-marker"></span>
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtAddress" name="address" placeholder="Nhập địa chỉ">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <span class="how-pos4 pointer-none lnr lnr-bubble"></span>
                        <textarea class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" id="txtContent" name="content" placeholder="Nhập nội dung"></textarea>
                    </div>

                    <button id="btnSend" class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
                        Gửi
                    </button>
                </form>
            </div>

            <div class="size-210 bor10 flex-w flex-col-m p-lr-15-

            </div>
        </div>
    </div>
</section>